<form name="form" ng-submit="submit()">
    <h3 class="form-header">${_trc("Вход в", "Вход в приложение")} {{_tr('app.name')}}</h3>
    <fieldset ng-disabled="pending">
        <div class="form-group has-feedback">
            <label for="loginEmail">${_tr("Электронная почта")}</label>
            <input id="loginEmail" class="form-control" type="email" ng-model="loginData.email" name="email" required>
            <span class="glyphicon glyphicon-asterisk form-control-feedback error-email"></span>
        </div>
        <div class="form-group">
            <label for="loginPassword">${_tr("Пароль")}</label>
            <input id="loginPassword" class="form-control" type="password" ng-model="loginData.password" name="password" required>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <button class="btn wide" type="submit" ng-class="form.$invalid ? 'btn-default' : 'btn-success'" ng-disabled="form.$invalid">${_trc("Войти", "Аутентификация, авторизация в приложении")}</button>
            </div>
            <div class="col-xs-6 text-right">
                <button class="btn btn-link plain" type="button" ng-disabled="true">${_tr("Вспомнить пароль?")}</button>
            </div>
        </div>
        <div app-extra-validation-info ng-show="extraValidation"></div>
        <hr>
        <div class="text-center">
            <button class="btn btn-link plain" type="button" ng-click="showSignupForm()">${_trc("Регистрация", "Аутентификация, авторизация в приложении")}</button>
        </div>
    </fieldset>
</form>
