/**/

[app-security-dialog] {
    .form-header {
        margin-top: 17px;
        margin-bottom: 20px;
    }

    [app-extra-validation-info] {
        ul {
            padding-top: 20px;
        }
        li {
            margin-bottom: 10px;
        }
    }
}
