/**/

@searchInputActiveIconColor: #66afe9;

[app-address-book-contacts] {
    margin-bottom: 25px;

    .tools {
        margin-bottom: 35px;
    }

    .search {
        input {
            position: relative;
            padding-left: 40px;
            padding-right: 40px;
        }
        input:focus ~ .left {
            color: @searchInputActiveIconColor;
        }
        .form-control-feedback {
            z-index: 10;
        }
        .form-control-feedback.left {
            left: 15px;
            right: auto;
        }
        .form-control-feedback.right {
            left: auto;
            right: 15px;
        }
        .form-control-feedback.action {
            z-index: 10;
            cursor: pointer;
            pointer-events: all;
            opacity: 0.5;
        }
        .form-control-feedback.action:hover {
            opacity: 1;
        }
    }

    .contacts-info {
        color: @defaultDisableColor;
        text-align: center;
    }

    .contacts {
        margin: 20px 0 0 0;

        .contact {
            padding: 10px 0;
            font-size: 18px;
            line-height: 1.5;
            border-bottom: 1px solid @defaultLineColor;
        }
        .contact:hover {
            cursor: pointer;
            color: @defaultLinkColor;
        }
        .contact.active {
            cursor: default;
            color: inherit;
            font-weight: bold;
            border-bottom-color: @strongLineColor;
        }
    }
}
